<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.selfboot.chandao.dao.CdUPermissionDAO" >
  <resultMap id="BaseResultMap" type="com.selfboot.chandao.domain.CdUPermission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, url, name, type, sort
  </sql>

  <sql id="where_fragment">
    WHERE 1 = 1
    <if test="entity != null">
      <if test="entity.nameLike != null and entity.nameLike != '' ">
        AND name like CONCAT('%',#{entity.nameLike,jdbcType=CHAR},'%')
      </if>
      <if test="entity.id != null">
        AND id = #{entity.id,jdbcType=BIGINT}
      </if>
      <if test="entity.type != null">
        AND type = #{entity.type,jdbcType=INTEGER}
      </if>
    </if>
  </sql>

  <select id="selectListByCondition" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM cd_u_permission
    <include refid="where_fragment"/>
  </select>

  <select id="selectSort" resultType="int">
    SELECT MAX(sort) FROM cd_u_permission
    WHERE parent_id = #{entity.parentId,jdbcType=BIGINT} AND type = #{entity.type,jdbcType=INTEGER} GROUP BY type
  </select>

  <delete id="deletePermission">
    DELETE FROM cd_u_permission WHERE id IN (
    SELECT a.id FROM (SELECT child.id FROM cd_u_permission child WHERE child.parent_id = #{id,jdbcType=BIGINT}) a
    ) OR id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="queryResourcesListWithSelected" resultMap="BaseResultMap">
	SELECT re.id,re.name,re.parent_id,re.type,
		(CASE WHEN EXISTS(SELECT 1
		FROM cd_u_role_permission rr WHERE rr.pid = re.id AND rr.rid=#{rid})
		THEN 'true' ELSE 'false' END) AS checked
		FROM cd_u_permission re
		WHERE re.parent_id !=0
		ORDER BY re.sort ASC
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cd_u_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cd_u_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.selfboot.chandao.domain.CdUPermission" >
    insert into cd_u_permission (id, parent_id, url, 
      name, type, sort)
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.selfboot.chandao.domain.CdUPermission" >
    insert into cd_u_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.selfboot.chandao.domain.CdUPermission" >
    update cd_u_permission
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.selfboot.chandao.domain.CdUPermission" >
    update cd_u_permission
    set parent_id = #{parentId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>